:root {
    --primaryColor_Slack: #611f69;
    --secundaryColor_Slack: #f5f5f5;
    --terciaryColor_Slack: #1e1e1e;
    --fourColor: #fff;
    --fifthColor: #6f9cb5;
}

h5 {
    font-size: 1em;
    ;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: var(--fifthColor)
}

a:hover {
    color: var(--terciaryColor_Slack)
}

li {
    list-style: none;
}

.btn-primary-slack {
    background-color: var(--primaryColor_Slack);
    color: var(--secundaryColor_Slack);
    border-radius: 0;
    transition: all .5s ease;
}

.btn-primary-slack:hover {
    background: var(--fourColor);
    border: 1px solid var(--primaryColor_Slack);
    color: var(--primaryColor_Slack)
}

.btn-secundary-slack {
    background: var(--fourColor);
    border: 1px solid var(--primaryColor_Slack);
    color: var(--primaryColor_Slack);
    border-radius: 0;
    transition: all .5s ease;
}

.btn-secundary-slack:hover {
    background: var(--primaryColor_Slack);
    color: var(--fourColor);
}

.zIndex {
    z-index: 1;
}

.paddingTop10 {
    padding-top: 10%;
}

.width80 {
    width: 80%;
}

.position-title {
    transform: translate(-50%, -4%);
}

header {
    position: absolute;
}

.bg_secundaryColor_Slack {
    background: var(--secundaryColor_Slack);
}

.promotion-wrapper {
    min-height: 300px;
    background: url(../assets/img/2.jpeg) no-repeat;
    background-size: cover;
    padding: 10% 0;
    position: relative;
}

.promotion-wrapper::before {
    content: " ";
    background: #300635f0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.list-link-footer li a {
    color: inherit;
    text-decoration: inherit;
    color: gray;
}

.icon-social-media {
    transition: transform .5s ease;
}

.icon-social-media:hover {
    transform: scale(1.5)
}

@media (max-width: 768px) {
    header {
        position: relative;
    }
    .imagen-hero {
        display: none;
    }
}